#leia-container {
    display: grid;
    width: 100vw; 
    height: 100vh;

    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr;
}


#c3po-photo-background {
    background-image: url('/c3po.png');
    background-repeat: no-repeat; 

    width: 200px; 
    height: 300px;
    
    grid-row: 2;
    grid-column: 3;
    
    justify-self: end;
    align-self: end; 
    background-size: contain; 
}


#leia-photo-background {
    background-image: url('/leia_searching.jpg');
    background-repeat: no-repeat; 

    width: 300px; 
    height: 300px;
    
    grid-row: 2;
    grid-column: 1;

    justify-self: start;
    align-self: end;
    background-size: contain; 
}

app-file-upload {
    grid-row: 2;
    grid-column: 2;
    
    width: 100%;
    height: 100%;
}