services:
  backend:
    build: 
      context: ./backend
      dockerfile: ./Dockerfile.backend
    environment:
      - ENV=${ENV}
      - FRONTEND_URL=http://localhost:${FRONTEND_PORT}
    ports:
      - "${BACKEND_PORT}:5000"
    restart: always
    container_name: flask_backend_app
  frontend:
    build:
      context: ./frontend 
      dockerfile: ./Dockerfile.frontend
    environment:
    - BACKEND_URL=http://localhost:${BACKEND_PORT}/router
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    restart: always
    container_name: angular_frontend_app
