:host {
    display: flex; 
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.file-upload-container {
    padding: 30px;
    width: 70%;

    position: relative; 
    box-sizing: border-box;
    text-align: center;
}

@font-face {
  font-family: 'StarJedi';
  src: url('/fonts/Starjedi.ttf') format('truetype');
}

.starwars-text {
  font-family: 'StarJedi', sans-serif;
  font-size: 1em;
  color: #ffe81f;
  text-shadow: 1px 1px 4px #000;
  letter-spacing: 3px;
}

.starwars-title {
  font-family: 'StarJedi', sans-serif;
  font-size: 5em;
  color: #ffe81f;
  text-shadow: 1px 1px 4px #000;
  letter-spacing: 3px;
}

.glow-box {
  border: 3px solid #00ffcc;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px auto;
  width: 60%;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 8px #00ffff;
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, inset 0 0 10px #00ffff;
  transition: 0.3s ease-in-out;
}

.glow-box:hover {
  box-shadow: 0 0 25px #00ffff, 0 0 50px #00ffff, inset 0 0 20px #00ffff;
  transform: scale(1.02);
}