<div class="file-upload-container">
  <h5 class="starwars-title">Enter JS0N file with empire data</h5>

  <div class="glow-box">
    <input type="file" (change)="onFileSelected($event)" accept=".json">

    <button (click)="onUpload()" [disabled]="!selectedFile">
      upload file
    </button>

    <div *ngIf="uploadProgress !== null">
      <p>Upload progression: {{ uploadProgress | number:'1.0-0' }}%</p>
      <progress [value]="uploadProgress" max="100"></progress>
    </div>

    <p *ngIf="uploadSuccess">✅ File successfully uploaded</p>
    <p *ngIf="uploadError">❌ Upload failed : {{ uploadError }}</p>

    <div *ngIf="odds !== null" class="result-display">
      <p>The odds are : <strong>{{ odds }} % </strong></p>
    </div>
    <div class="starwars-text">
      {{status}}
    </div>
  </div> 
</div>